<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card p-3 mb-2">
                <div class="row">
                    <div class="col-8">
                        <div class="row d-flex flex-row align-items-center">
                            <div class="col-6">
                                <img class="icon" src={{product.ThumbnailURL}}>
                            </div>
                            <div class="col-6">
                                <span>{{product.Name}}</span>
                                <div class="d-flex flex-row align-items-center">
                                    <h6 class="mb-0 text1">${{product.Price}}</h6>
                                    <h6 class="mb-0 ms-3 text2">${{product.Price}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 justify-content-center align-self-center boton1 ">
                        <button type="button" class="btn btn-success btn-sm">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>